name: Release Generator

on: 
  push

defaults:
  run:
    working-directory: ./NorthwindAPI/

jobs:
  tests:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish
      run: dotnet publish ./NorthwindAPI/NorthwindAPI.csproj -c Release -o ./output
    - name: Package
      run: zip -r ./release.zip ./output/*
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Release Build"
        files: ./release.zip
